@using Demo.BLL.Dtos.Departments
@model DepartmentViewModel
@{
    ViewData["Title"] = "Create";
    ViewBag.Action = "Create";
}

<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Create Department</h1>
    <partial name="Partials/CreateEditDepartmentPartial" />
</div>
@section ValidationScripts
{
    <partial name="_ValidationScriptsPartial"/>
}

