@model EmployeeDto
@{
    ViewData["Title"] = "Create";
    ViewBag.Action = "Create";
}

<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Create Employee</h1>
    <partial name="Partials/CreateEditEmployeePartial" />
</div>
@section ValidationScripts
{
    <partial name="_ValidationScriptsPartial" />
}