@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Register</h1>
<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class="text-danger"></div>
		<form asp-action="Register">
			<input class="text" asp-for="FName" placeholder="Enter first name">
			<span asp-validation-for="FName" class="text-danger"></span>
            <br />
			<input class="text" asp-for="LName" placeholder="Enter last name">
			<span asp-validation-for="LName" class="text-danger"></span>
            <br />
			<input class="text" asp-for="Email" placeholder="Enter the email">
			<span asp-validation-for="Email" class="text-danger"></span>
            <br />
            <input class="text" asp-for="Password" type="password" placeholder="Enter the password">
            <span asp-validation-for="Password" class="text-danger"></span>
			<br />
			<input class="text" asp-for="ConfirmPassword" type="password" placeholder="Confirm the password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			<div class="wthree-text">
				<label class="anim">
					<input asp-for="IsAgree" class="checkbox">
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNUP">
		</form>
        <p>Already have an Account? <a asp-controller="Account" asp-action="Login"> Login Now!</a></p>
	</div>
</div>
@section ValidationScripts
{
	<partial name="_ValidationScriptsPartial" />
}